@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

::-webkit-scrollbar {
    width: 0.3em
}

::-webkit-scrollbar:hover {
    width: 1em
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {
    background: #0000ff;
    border-radius: 1em
}

body {
    font-family: Ubuntu;
}

#header {
    color:#8080ff;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

#header {
    font-family: Ubuntu;
    font-size: 25px;
    padding: 0px;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
}

#client-border {
    border-style: groove;
    border-radius: 10px;
    padding: 5px;
    height: 86%;
}

.client {
    border-radius: 10px;
    height: 98.5%;
    padding: 5px;
    display: flex;
}

.client.changelogonly {
    display: block;
    overflow-y: scroll;
}

#save-indicator {
    transition-timing-function: linear;
    transition-duration: 10000ms;
    transition-property: all;
    opacity: 0;
}

#save-indicator.game-saved {
    transition-duration: 100ms;
    opacity: 1;
}


/* //commented out because this is unused now
.mb-button {
    border: none;
    background-color: #8080ff;
    color: #232233;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    transition-timing-function: cubic-bezier(.2,1.5,.7,.5);
}

.mb-button:hover:enabled {
    border-radius: 5px 5px 0px 0px;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #0000ff;
    color: #bbbbbb;
}

.mb-button:disabled {
    border-radius: 4px 4px 0px 0px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #6868ff;
    color: #ffffff;
}*/

.bar {
    padding: 3px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container {
    padding: 3px;
    border-radius: 15px;
    margin-bottom: 2px;
    overflow-y: hidden;
}

.mb-header {
    font-size: 20px;
    text-align: center;
}

#middle-bar .container > * {
    opacity: 0;
}

#middle-bar .container .upgrade-cont > * {
    opacity: 1;
}

#middle-bar .container {
    height: 1.5em;
    overflow-y: hidden;
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-property: all;
    transition-duration: 400ms;
}

#middle-bar .container:hover ~ #middle-bar .container.selected {
    height: 10%;
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-property: all;
    transition-duration: 400ms;
}

#middle-bar .container:hover {
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-property: all;
    transition-duration: 400ms;
}

#middle-bar .container.selected {
    height: 57%;
    overflow-y: scroll;
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-property: all;
    transition-duration: 400ms;
}

#middle-bar .container.selected:hover {
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-property: all;
    transition-duration: 400ms;
}

#middle-bar .container.selected > * {
    opacity: 1;
}

#middle-bar .container > .mb-header {
    opacity: 1;
}

.building {
    padding: 4px;
    text-align: center;
    margin: 2px;
    border-radius: 10px;
    height: 1.2em;
    overflow-y: hidden;
    position: relative;
    transition-timing-function: cubic-bezier(.51,1.19,.78,.73);
}

.building.locked {
    display: none;
}

.building > * {
    opacity: 0;
}

.building > .building-toprow {
    opacity: 1; 
}

.building:hover > * {
    opacity: 1;
}

.building:hover {
    height: 4em;
    overflow-y: scroll;
    transition-timing-function: cubic-bezier(.31,1.16,.32,1.16);
}

.upgrade {
    height: 3.55em;
    width: 3.55em;
    min-width: 25px;
    margin: 1px;
    margin-bottom: 3px;
    border-radius: 10px;
    border: none;
    opacity: 1;
    overflow: visible;
    transition: linear;
    transition-duration: 100ms;
    background-size: 100%;
}

.upgrade.locked {
    display: none;
}

.upgrade:hover{
    transition: linear;
    transition-duration: 250ms;
}

.upgrade.upgrade-flash-red, .upgrade.upgrade-flash-red:hover {
    background-color: red;
    transition-duration: 50ms;
}

.upgrade-cont {
    height: 3.1em;
    overflow: hidden;
    display: block;
}

.upgrade-cont:hover {
    height: 9.5em;
    overflow-y: scroll;
}

.upgrade-cont.full {
    height: auto;
    max-height: 60%;
    overflow-y: scroll;
}

.fancy-button {
    border: none;
    padding: 4px;
    border-radius: 10px;
}

.fancy-button:hover {
    border-radius: 5px;
}

.building > .fancy-button {
    opacity: 0;
}

.building.expensive {
    opacity: 0.3;
}

.building.expensive:hover {
    opacity: 0.65;
}

.building.expensive > .building-icon {
    filter: grayscale();
}

.building.expensive::hover > .building-icon {
    filter: none;
}

.building-icon {
    opacity: 1;
    position: absolute;
    right: 0.1em;
    top: 10%;
    height: 80%;
}

.building:hover > .fancy-button {
    opacity: 1;
}

#notif-div {
    width: 25%;
    position: fixed;
    align-self: center;
    bottom: 5%;
    left: 2%;
    transform: rotate(180deg)
}

.notif-body {
    padding: 1%;
    border-radius: 10px;
    transform: rotate(180deg)
}

.notif-text {
    transform: rotate(180deg)
}

.notif-header {
    font-size: 110%;
}

.notif-dismiss-button {
    border-radius: 50%;
    border-width: 0;
}

.notif-dismiss-button:hover {
    border-radius: 25%;
}

.log-output {
    width: 100%;
    height: 90%;
    border-radius: 5px;
    overflow-y: scroll;
    word-wrap: break-word;
    font-size: 12pt;
    resize: none;
    position:relative;
    bottom: 15%;
    font-family: Ubuntu, Ubuntu, monospace;
}

#debug-console-log {
    height: 80%;
}

.time {
    font-size: 0.75em;
}

.log-output > * {
    font-family: Ubuntu, Ubuntu, monospace;
}

.input-bar {
    border-radius: 5px;
    border-width: 0px;
    position: relative;
    margin-top: 2px;
    bottom: 15%;
}

#header-splash {
    text-align: center;
    width: 25em;
    opacity: 1;
    transition: ease-in-out;
    transition-duration: 200ms;
    position: relative;
    left: 40%;
    bottom: .7em;
}

.splash-fix {
    opacity: 0;
}

#header-splash.cheater {
    left: 50%;
}

#header-splash > * {
    color: inherit;
}

#header-splash.changing {
    opacity: 0;
    transition: ease-in-out;
    transition-duration: 200ms;
}

.reset-button {
    margin: 3px;
    border-width: 0px;
    border-radius: 25%;
}

.reset-button:hover {
    border-bottom-width: 2px;
    border-right-width: 2px;
    border-radius: 5px;
}

.cl-update {
    border-radius: 10px;
    padding: 2px;
    padding-top: 0px;
}

.cl-update:hover {
    border-radius: 5px;
}

.cl-update-notes {
    border-radius: 10px;
    padding: 2px;
}

.cl-next {
    border-radius: 5px;
}

#chat-login-prompt {
    display: block;
    border-width: 0px;
    border-radius: 5px;
    padding: 5px;
    width: 95%;
    position: relative;
    bottom: -45%;
    left: 1.5%;
    z-index: 5;
}

#footer {
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%
}

#seasonal-icon-left {
    position: fixed;
    bottom: 5%;
    left: 7%;
    z-index: -1;
    pointer-events: none;
}

#seasonal-icon-right {
    position: fixed;
    bottom: 5%;
    right: 7%;
    transform: scaleX(-1);
    z-index: 0;
    pointer-events: none;
}

#tooltip {
    position: fixed;
    opacity: 0;
    transform: translate(-100%, 0);
    text-align: center;
    overflow: hidden;
    border-width: 5px;
    border-radius: 10px;
    padding-bottom: 5px;
    border: solid;
    height: auto;
    width: 21.6em;
    transition-timing-function: linear;
    transition-duration: 200ms;
    transition-property: opacity;
}

#tooltip.visible {
    opacity: 1;
    transition-duration: 100ms;
    transition-delay: 50ms;
}

* {
    transition-timing-function: cubic-bezier(.31,1.16,.32,1.16);
    transition-property: all;
    transition-duration: 500ms;
}

.popup {
    background-color: #fff;
    color: #000;
    position: absolute;
    align-self: center;
    text-align: center;
    left: 50%;
    padding: 10px;
    border-radius: 5px;
    font-size: 13px;
    display: none;
}

#popup-title {
    font-size: 15px;
    margin-bottom: 5px;
}

#popup-content {

}
