@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

body {
    background-color: #232233;
    color: #ffffff;
    font-family: Ubuntu;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

a {
    color: #8080ff
}

#header {
    font-family: Ubuntu;
    font-size: 25px;
    padding: 0px;
    font-weight: bold;
    color:#8080ff;
    text-align: center;
    margin-top: 0px;
}

#client-border {
    background-color: #ff8080;
    border-color: #ee5050;
    border-style: outset;
    padding: 5px;
}

#client {
    background-color: #232233;
    padding: 5px;
    display: flex;
}

.mb-button {
    border: none;
    background-color: #8080ff;
    color: #232233;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    transition: ease-in-out;
    transition-property: all;
    transition-duration: 200ms;
}

.mb-button:hover:enabled {
    border-radius: 5px 5px 0px 0px;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #0000ff;
    color: #bbbbbb;
    transition: ease-in-out;
    transition-property: all;
    transition-duration: 200ms;
}

.mb-button:disabled {
    border-radius: 4px 4px 0px 0px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #6868ff;
    color: #ffffff;
    transition: ease-in-out;
    transition-property: all;
    transition-duration: 200ms;
}

.bar {
    padding: 3px;
    margin-left: 2px;
    margin-right: 2px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(100, 80, 125, 60);
}

.container {
    padding: 3px;
    background-color: rgba(50, 20, 125, 60);
    border-radius: 15px;
    margin-bottom: 2px;
}

#middle-bar .container {
    height: 2.6%;
    overflow-y: hidden;
    transition: ease-in-out;
    transition-property: all;
    transition-duration: 200ms;
}

#middle-bar .container.selected {
    height: 70%;
    overflow-y: scroll;
    transition: ease-in-out;
    transition-property: all;
    transition-duration: 200ms;
}

.building {
    padding: 4px;
    text-align: center;
    margin: 2px;
    background-color: rgba(50, 150, 165, 50);
    border-radius: 10px;
    height: 2ch;
    overflow-y: hidden;
    transition: ease-in-out;
    transition-property: all;
    transition-duration: 200ms;
}

.building:hover {
    height: 6.6ch;
    background-color: rgba(70, 170, 185, 80);
    overflow-y: scroll;
    transition: ease-in-out;
    transition-property: all;
    transition-duration: 200ms;
}

.upgrade {
    height: 48px;
    width: 48px;
    min-width: 25px;
    margin-left:1px;
    margin-right: 1px;
}

.fancy-button {
    background-color: #8888ff;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    transition: ease-in-out;
    transition-property: all;
    transition-duration: 200ms
}

.fancy-button:hover {
    border-radius: 5px;
    color: #888888;
    background-color: #0000ff;
    transition: ease-in-out;
    transition-property: all;
    transition-duration: 200ms
}

#notifs {
    width: 25%;
    margin-left: 40%;
    margin-bottom: 5px;
}